@media screen and (max-width:800px) {
    .main-login-page{
        width: 100vw;
        
    }
    .login-page-container{
        width: 90%;
        height: auto;
        padding: 0;
        margin: 0;
    }
    .page-name-loginpage h1{
        text-align: center;
    }
    .page-name-loginpage{
        margin: 0;
    }
    .page-name-loginpage img{
        padding:1rem;
    }
    .checkandpara{
       width: 80vw;
       display: flex;
       justify-content: center;
       align-items: center;
        /* flex-direction: co; */
        margin: 0 2rem;
    }
.checkandpara p,.sub-checkandpara-para {
    padding: 0%;
}
    .createacc{ 
        height: 5vh;
        width: 70vw;
    }
    .sub-checkandpara{
        padding-right: 1rem;
    }
}