*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Fooddisplay-main-container{
    height: auto;
    /* display: flex; */
}
.Food-display-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    align-items: center;
}
.Fooddisplay-main-container h1{
    text-align: center;
    font-size: 2.5vw;
}