*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
.Explore-menu{
    height:auto;
    /* background-color: red; */
}
.Explore-menu h1{
    text-align: center;
    font-size: 2.6vw;
}
.subcontent{
    height: auto;
    margin: 1rem;
    cursor: pointer;
}
.content-exploremenu{
    /* margin: 1rem 2rem; */
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.content-exploremenu p{
    font-size: 1vw;
}
.subcontent p{
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
}
.subcontent .activ{
    border:4px solid orange;
    padding: 3px;
    border-radius: 50%;
}